@import "../../../node_modules/bootstrap/less/bootstrap.less";
@import "../../../node_modules/font-awesome/less/font-awesome.less";
@import (less) "../../../node_modules/swiper/dist/css/swiper.css";
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,700&subset=latin-ext');

/*Hacky container width*/
@container-large-desktop:           (1170px + @grid-gutter-width);

/*Colors*/
@grey:                              #ECF0F1;
@orange:                            #ED8900;
@green:                             #92BF00;
@blue:                              #1F99E3;
@midnight-blue:                     #21434C;

/*Navbar*/
@navbar-height:                     100px;
@navbar-default-bg:                 transparent;
@navbar-border-radius:              0;
@navbar-default-color:              #2A2A29;
@navbar-default-link-color:         #2A2A29;
@navbar-default-link-hover-color:   #2A2A29;
@navbar-default-link-hover-bg:      transparent;
@navbar-default-toggle-hover-bg:    white;

@transition-time: .3s;

/*Backgrounds*/
.grey-bg{
    background-color: @grey;
}
.blue-bg{
    background-color: @blue;
}
.orange-bg{
    background-color: @orange;
}

html{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

h1{
    .text-uppercase;

    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    line-height: 42px;

    @media(min-width: @screen-md-min){
        font-size: 64px;
        line-height: 94px;
    }
}

h2{
    .text-uppercase;

    font-family: 'Oswald', sans-serif;
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 36px;

    @media(min-width: @screen-md-min){
        font-size: 36px;
        line-height: 53px;
    }
}

h3{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 24px;
}

p{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

section{
    padding-top: 30px;
    padding-bottom: 70px;

    @media(min-width: @screen-md-min){
        padding-top: 60px;
        padding-bottom: 80px;
    }
}

.padding-bottom-null{
    padding-bottom: 0;
}

header{
    overflow: hidden;
    height: 100%;

    .header-background{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;

        .welcome{
            .text-left;

            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

            h1{
                padding-left: 15px;
                padding: 0 15px;
            }

            p{
                max-width: 650px;
                margin: 0 auto;
                padding: 0 15px;
            }
        }

        .video-background{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            overflow: hidden;

            video{
                position: absolute;
                min-width: 100%;
                min-height: 100%;
                left: 50%;
                z-index: -1;
                transform: translateX(-50%);
            }
        }
    }

    .scroll-down{
        position: absolute;
        z-index: 99;
        bottom: 5%;
        left: 50%;
        width: 56px;
        height: 56px;
        color: #424241;
        padding: 8px 0;
        text-align: center;
        border-radius: 20px;
        border: 2px solid #424241;
        transform: translateX(-50%);

        span{
            position: relative;
            display: inline-block;
            font-size: 36px;
            line-height: 37px;
            animation-name: scrollAnimation;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-out;
        }
    }

    .navigation{
        position: absolute;
        top: 0;
        width: 100%;
        height: @navbar-height;
        z-index: 9999;

        .navbar-default{
            margin-bottom: 0;
            background-color: white;

            .navbar-brand{
                padding: 23px 15px;

                img{
                    width: 110px;
                }
            }

            .navbar-toggle{
                margin-top: 35px;
                margin-bottom: 33px;
            }

            .navbar-nav{
                li{
                    a{
                        color: lighten(#2A2A29, 40%);
                        font-size: 18px;
                        line-height: 24px;

                        &:hover{
                            color: #2A2A29;
                            transition: color @transition-time ease;
                        }
                    }
                }
            }
        }

        &.affix{
            position: fixed !important;
            top: 0;
            height: @navbar-height / 2;
            animation-name: menuDown;
            animation-duration: .2s;
            animation-timing-function: ease-in-out;

            .navbar, .navbar-default{
                background-color: white;
                min-height: @navbar-height / 1.5;
                box-shadow: 0 4px 11px rgba(0,0,0,.05);

                .navbar-brand{
                    height: @navbar-height / 1.5;
                    padding: 7px 15px;

                    img{
                        width: 110px;
                    }
                }

                .navbar-toggle{
                    margin-top: 15px;
                    margin-bottom: 15px;
                }

                .navbar-nav{
                    li{
                        a{
                            color: lighten(#2A2A29, 60%);
                            padding: 19px 15px;

                            &:hover{
                                color: #2A2A29;
                            }
                        }

                        &.active{
                            a{
                                color: #2A2A29;
                            }
                        }
                    }
                }
            }
        }
    }

    @media(min-width: @screen-md-min){
        .header-background{

            .welcome{
                .text-center;

                width: auto;

                h1{
                    padding: 0;
                }

                p{
                    padding: 0;
                }
            }
        }

        .navigation{
            top: 15px;

            .navbar-default{
                background-color: transparent;
            }
        }

        .scroll-down{
            bottom: 15%;
        }
    }
}

.mobile-bg{
    div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.division-box{
    position: relative;
    color: white;
    min-height: 504px;
    padding: 24px;
    overflow: hidden;

    p{
        font-size: 16px;
    }

    .icon{
        position: absolute;
        top: 0;
        right: 0;
    }

    .info{
        position: absolute;
        bottom: 24px;
        left: 24px;
        padding-right: 24px;
        transition: bottom @transition-time ease-in-out;
    }

    .btn-division{
        font-family: 'Oswald', sans-serif;
        color: white;
        font-size: 18px;
        line-height: 26px;
        padding: 15px 5px;
        border-radius: 2px;
        box-shadow: 0 0 6px 1px rgba(0,0,0,0.06);

        span{
            display: inline-block;
            margin-left: 5px;
            transition: all @transition-time ease;
        }

        &:hover{
            span{
                margin-left: 10px;
                transition: all @transition-time ease;
            }
        }
    }

    &.orange-bg{
        background-color: @orange;

        .btn-division{
            background-color: lighten(@orange, 8%);
            transition: all @transition-time ease;

            &:hover{
                background-color: lighten(@orange, 10%);
                transition: all @transition-time ease;
            }
        }
    }

    &.green-bg{
        background-color: @green;

        .btn-division{
            background-color: lighten(@green, 5%);
            transition: all @transition-time ease;

            &:hover{
                background-color: lighten(@green, 6%);
                transition: all @transition-time ease;
            }
        }
    }

    &.blue-bg{
        background-color: @blue;

        .btn-division{
            background-color: lighten(@blue, 8%);
            transition: all @transition-time ease;

            &:hover{
                background-color: lighten(@blue, 10%);
                transition: all @transition-time ease;
            }
        }
    }

    &.midnight-blue-bg{
        background-color: @midnight-blue;

        .btn-division{
            background-color: lighten(@midnight-blue, 8%);
            transition: all @transition-time ease;

            &:hover{
                background-color: lighten(@midnight-blue, 10%);
                transition: all @transition-time ease;
            }
        }
    }

    @media(min-width: @screen-md-min){

    }
}

#projects{
    margin-top: 10px;
}

.btn-projects{
    font-family: 'Oswald', sans-serif;
    width: 100%;
    color: white;
    font-size: 18px;
    margin-top: 15px;
    margin-right: 2px;
    line-height: 26px;
    padding: 15px 20px;
    border-radius: 2px;
    word-wrap: break-word;
    white-space: pre-wrap;
    display: inline-block;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.06);
    transition: all @transition-time ease;

    span{
        display: inline-block;
        margin-left: 5px;
        transition: all @transition-time ease;
    }


    &:hover{
        color: white;
        transition: all @transition-time ease;

        span{
            margin-left: 10px;
            transition: all @transition-time ease;
        }
    }

    &:focus, &:active{
        color: white;
        box-shadow: none;
    }

    &.orange{
        background-color: lighten(@orange, 8%);

        &:hover{
            background-color: lighten(@orange, 10%);
        }
    }

    &.blue{
        background-color: #42B8FF;

        &:hover{
            background-color: lighten(#42B8FF, 5%);
        }
    }

    &:first-child{
        padding: 15px 20px;
    }

    &:last-child{
        margin-right: 0;
        margin-left: 2px;
        padding: 2px 20px;
    }

    @media(min-width: @screen-md-min){
        width: 47.5%;
        margin-top: 0;
    }
}

.project-box{
    position: relative;
    color: white;
    padding: 80px 20px 20px 20px;
    min-height: 476px;
    overflow: hidden;

    .icon{
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .title{
        position: relative;

        h3{
            font-size: 24px;
            line-height: 40px;
        }

        h5{
            font-size: 12px;
            line-height: 14px;
            font-weight: bold;
        }
    }

    .info{
        position: relative;
    }

    .bubble{
        position: absolute;
        height: 250%;
        width: 200%;
        left: -50%;
        bottom: -25%;
        opacity: 0.15;
        border-radius: 50%;
        background-color: #E9EEEF;
        transition: all @transition-time ease-in-out;
    }

    @media(min-width: @screen-md-min){
        min-height: 416px;
        padding: 20px 20px 20px 20px;

        .bubble{
            position: absolute;
            left: -20%;
            bottom: -83%;
            height: 558px;
            width: 558px;
            opacity: 0.15;
            border-radius: 50%;
            background-color: #E9EEEF;
            transition: all @transition-time ease-in-out;
        }

        .title{
            position: absolute;
            bottom: 0;
            left: 20px;
            transition: bottom @transition-time ease-in-out;

            h3{
                font-size: 24px;
                line-height: 40px;
            }

            h5{
                font-size: 12px;
                line-height: 14px;
                font-weight: bold;
            }
        }

        .info{
            position: absolute;
            bottom: -100%;
            left: 20px;
            transition: bottom @transition-time ease-in-out;
        }

        &:hover{
            .title{
                bottom: 250px;
                transition: bottom @transition-time ease-in-out;
            }

            .info{
                bottom: 20px;
                transition: bottom @transition-time ease-in-out;
            }

            .bubble{
                height: 200%;
                width: 200%;
                left: -50%;
                transition: all @transition-time ease-in-out;
            }
        }
    }
}

.chosen-us{
    // display: inline-block;
    // width: 19%;
    // height: 100%;
    min-height: 68px;
    text-align: center;
    img{
        // width: 100%;
        height: 100%;
        filter: grayscale(100%);
        transition: all @transition-time ease-in-out;
    }


    &:hover{
        img{
            filter: grayscale(0%);
            transition: all @transition-time ease-in-out;
        }
    }
}

.spaced-about{
    padding: 80px 125px;

    img{
        max-height: 125px;
        margin: 0 auto;
    }

    &.grey-bg{
        background-color: lighten(@grey, 3%);
    }
}

.swiper-pagination-wrapper{
    position: relative;
    height: 14px;
    margin-top: 13px;

    .swiper-pagination{
        left: 50%;
        transform: translateX(-50%);

        span{
            opacity: .35;
            width: 10px;
            height: 10px;
            margin-left: 2px;
            margin-right: 2px;
            border: 1px solid #9B9B9B;
            background-color: #9B9B9B;

            &.swiper-pagination-bullet-active{
                opacity: 1;
                border: 1px solid darken(#9B9B9B, 40%);
                background-color: darken(#9B9B9B, 40%);
            }
        }
    }
}

footer{
    .spaced-v{
        padding: 54px 0;
        margin-bottom: 15px;
    }

    p{
        font-size: 17px;
        margin-top: 14px;
        margin-bottom: 0;

        a{
            color: #2A2A29;

            &:hover, &:focus{
                color: #2A2A29;
                text-decoration: none;
            }
        }
    }

    img{
        width: 135px;
        margin-bottom: 30px;
    }

    .left{
        text-align: center;
    }

    .right{
        text-align: center;
    }

    @media(min-width: @screen-md-min){
        .left{
            text-align: left;
        }

        .right{
            text-align: right;
        }

        .spaced-v{
            padding: 54px 0;
            margin-bottom: 80px;
        }

        img{
            width: 115px;
            margin-bottom: 0;
        }
    }
}

/*Animations*/
@keyframes menuDown {
    0%{
        top: -150px;
    }
    100%{
        top: 0;
    }
}

@keyframes scrollAnimation{
    0%{
        transform: translateY(-2px);
    }
    50%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(-2px);
    }
}
